.nav-bar {
  width: 200px;
  min-height: 100vh;
  background-color: rgb(0, 0, 93);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar-entry {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40px;
  width: 180px;
  cursor: pointer;
}

.nav-bar-entry-selected {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 40px;
  width: 180px;
  background-color: rgb(39, 39, 105);
}

.nav-bar-entry-text {
  color: rgb(214, 214, 214);
  font-size: 14px;
  font-family: Inter;
}

.banner {
  height: 70px;
  background-color: rgb(1, 1, 151);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: rgb(244, 244, 244);
}

.header-text {
  font-size: 30px;
  padding: 20px 20px;
  font-weight: bold;
  height: 20px;
}

.position-box {
  width: 40vw;
  height: 23vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  padding: 15px;
  border-radius: 10px;
  background-color: white;
}
